﻿    <div id="page">
        <main>
            <div id="hero_register">
                <div class="container margin_120_95">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>It's time to find you!</h1>
                            <p class="lead">Ready to become a member of our dentist Professionals? Just complete this one page form to get started.
                            </p>
                            <div class="box_feat_2">
                                <i class="pe-7s-map-2"></i>
                                <h3>Let patients find you!</h3>
                                <p>We help you with all the marketing you need so you can relax and concentrate on your business</p>
                            </div>
                            <div class="box_feat_2">
                                <i class="pe-7s-date"></i>
                                <h3>Easily manage bookings</h3>
                                <p>Managing booking has never been easy before. We'll keep you and your patients up to date with any changes instantly</p>
                            </div>
                            <div class="box_feat_2">
                                <i class="pe-7s-phone"></i>
                                <h3>Instantly via mobile</h3>
                                <p>Any patient updates will be instant so you can keep your front office work very light</p>
                            </div>
                        </div>
                        <!-- /col -->
                        <div class="col-lg-5 ml-auto">
                            <div class="box_form">
                                <div id="message-register"></div>
                                <form method="post" action="assets/register_doctor.php" id="register_doctor">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name" name="name_register" id="name_register">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name" name="lastname_register" id="lastname_register">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Specialization" name="specialization" id="specialization">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="City" name="city_register" id="city_register">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" name="country_register" id="country_register">
                                                    <option value="">Country</option>
                                                    <option value="Europe">Europe</option>
                                                    <option value="Asia">Asia</option>
                                                    <option value="Unated States">Unated States</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Address" name="address_register" id="address_register">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Mobile Phone" name="mobile_register" id="mobile_register">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Office Phone" name="office_phone_register" id="office_phone_register">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email Address" name="email_register" id="email_register">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" id="verify_register" class="form-control" placeholder="Human verify: 3 + 1 =?">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div><input type="submit" class="btn_1" value="Submit" id="submit-register"></div>
                                </form>
                            </div>
                            <!-- /box_form -->
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /hero_register -->
        </main>
        <!-- /main -->
    </div>
<!-- page -->

    <!-- SPECIFIC SCRIPTS -->
    <script src="~/assets/validate.js"></script>
