﻿<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="DentalAd - Help administering your patients " />
    <meta name="keywords" content="keyword1,keyword2,keyword3,keyword4,keyword5" />
    <meta name="author" content="Siprea" />

    <!-- Page Title -->
    <title>Siprea | Serving patients around the globe</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="/css/gp/bootstrap.min.css" rel="stylesheet">
    <link href="/css/gp/style.css" rel="stylesheet">
    <link href="/css/gp/menu.css" rel="stylesheet">
    <link href="/css/gp/vendors.css" rel="stylesheet">
    <link href="/css/gp/icon_fonts/css/all_icons_min.css" rel="stylesheet">
    
    <!-- YOUR CUSTOM CSS -->
    <link href="~/css/gp/custom.css" rel="stylesheet">
    
    <!-- SPECIFIC CSS -->
    <link href="~/css/gp/date_picker.css" rel="stylesheet">

</head>
<body class="">
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>


        <header class="header_sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div id="logo">
                            <a asp-controller="Home" asp-action="Index" title="DentalAdmin"><img src="/images/gp/logo.png" data-retina="true" alt="" width="163" height="36"></a>
                        </div>
                    </div>
                    <nav class="col-lg-9 col-6">
                        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
                        <ul id="top_access">
                            <li><a asp-controller="Account" asp-action="Login"><i class="pe-7s-user"></i></a></li>
                            <li><a asp-controller="Account" asp-action="Register"><i class="pe-7s-add-user"></i></a></li>
                        </ul>
                        <div class="main-menu">
                            <ul>
                                <li class="submenu">
                                    <a href="#" class="show-submenu">Dentists<i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">Register Dentist</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#0" class="show-submenu">Patients<i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                        <li><a asp-controller="Account" asp-action="RegisterDentist">Register Patient</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#0" class="show-submenu">Intermediaries<i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li><a href="detail-page-working-booking.html">Detail working booking</a></li>
                                        <li><a href="booking-page.html">Booking page</a></li>
                                        <li><a href="confirm.html">Confirm page</a></li>
                                        <li><a href="faq.html">Faq page</a></li>
                                        <li><a href="coming_soon/index.html">Coming soon</a></li>
                                        <li><a href="pricing-tables.html">Responsive pricing tables</a></li>
                                        <li><a href="pricing-tables-2.html">Responsive pricing tables 2</a></li>
                                        <li><a href="register-doctor-working.html">Working doctor register</a></li>
                                        <li><a href="icon-pack-1.html">Icon pack 1</a></li>
                                        <li><a href="icon-pack-2.html">Icon pack 2</a></li>
                                        <li><a href="icon-pack-3.html">Icon pack 3</a></li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /main-menu -->
                    </nav>
                </div>
            </div>
            <!-- /container -->
        </header>

<div id="wrapper">
        <!-- preloader -->

        @RenderBody()
        <!-- Footer -->
        <footer>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <p>
                            <a href="index.html" title="Findoctor">
                                <img src="~/images/gp/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <h5>About</h5>
                        <ul class="links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a asp-controller="Home" asp-action="Faq">FAQ</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <h5>Useful links</h5>
                        <ul class="links">
                            <li><a href="#">Doctors</a></li>
                            <li><a href="#">Clinics</a></li>
                            <li><a href="#">Specialization</a></li>
                            <li><a asp-controller="Account" asp-action="RegisterDentist">Join as a Doctor</a></li>
                            <li><a href="#">Download App</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <h5>Contact with Us</h5>
                        <ul class="contacts">
                            <li><a href="tel://61280932400"><i class="icon_mobile"></i> 0800 800 800</a></li>
                            <li><a href="mailto:info@dentist.com"><i class="icon_mail_alt"></i> info@dentiat.com</a></li>
                        </ul>
                        <div class="follow_us">
                            <h5>Follow us</h5>
                            <ul>
                                <li><a href="#0"><i class="social_facebook"></i></a></li>
                                <li><a href="#0"><i class="social_twitter"></i></a></li>
                                <li><a href="#0"><i class="social_linkedin"></i></a></li>
                                <li><a href="#0"><i class="social_instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <ul id="additional_links">
                            <li><a href="#0">Terms and conditions</a></li>
                            <li><a href="#0">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div id="copy">© 2018 FindDentist</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end wrapper -->
    

    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="/js/gp/jquery-2.2.4.min.js"></script>
    <script src="/js/gp/common_scripts.min.js"></script>
    <script src="/js/gp/functions.js"></script>
    
    
</body>
</html>